body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9FB !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoutButton {
  margin-left: 20px;
}

.ownContainer {
  margin-top: 30px;
  margin-left: initial;
}

.title {
  margin-bottom: 10px;
}

.submitButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  align-self: center;
}

.cancelButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  align-self: center;
}

.mapStyle {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative !important;
  height: 400px !important;
  width: 100% !important;
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
}

.sliderContainer {
  /* align-content: center !important; */
  margin: auto;
  /* width: 50%; */
  width: 400px;
  /* max-height: 400px; */
  margin: 3px;
  padding: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 50px;
}

.item {
  width: inherit ;
  height: inherit ;
  /* max-height: 400px; */
  margin: 3px;
  padding: 3px;
}

.apartment-card {
  width: 100%;
  margin: 20px;
}

.addApartmentButton {
  background-color: #79be00 !important;
  color: white !important;
}

.nav-bar-profile-icon {
  max-width: 40px;
  max-height: 40px;
  margin-right: 15px;
}