body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoutButton {
  margin-left: 20px;
}

.ownContainer {
  margin-top: 30px;
}

.title {
  margin-bottom: 10px;
}

.submitButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  align-self: center;
}

.cancelButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  align-self: center;
}

.mapStyle {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative !important;
  height: 400px !important;
  width: 100% !important;
}